// Переопределение переменных Ant Design
:root {
    --ant-primary-color: #214e27;
    --ant-link-color: #286d4d;
    --ant-success-color: #52c41a;
    --ant-warning-color: #faad14;
    --ant-error-color: #810006;
  }